<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batis.demo.mapper.OrderFormMapper">
    <sql id="Base_Column_List">
    ORDER_NO, PURCHASE_ORDER_ID, ORIGIN_ORDER_NO, TERMINAL, `TYPE`, ORDER_TYPE, DISPUTE_TYPE,
    IS_NEED_TO_CENTRALIZE, SUPPLIER_ID, SUPPLIER_NAME, ASSOCIATED_SUPPLIERS_ID, ASSOCIATED_SUPPLIERS_CNNAME,
    PROCURE_ID, PROCURE_NAME, PROCURE_CN_NAME, PROCURE_OPERATOR_ID, PAYMENT, PAY_WAY_KEY,
    RECEIVER, RECEIVER_PHONE, RECEIVER_MOBILE, RECEIVER_AREA_CODE, RECEIVER_AREA_NAME,
    RECEIVER_ZIP_CODE, TAX_IDENTIFICATION_NUMBER, RECIEPT_TITLE, PROCURE_CLOSET_WAREHOUSE_ID,
    PROCURE_CLOSET_WAREHOUSE_NAME, SUPPLIER_CLOSET_WAREHOUSE_ID, SUPPLIER_CLOSET_WAREHOUSE_NAME,
    CURRENCY, CURRENCY_SIGN, CURRENCY_RATIO, INIT_TOTAL, TOTAL, COST, PURCHASE_COST,
    BASE_PRICE, LOGISTICS_FEE, EXTRA_LOGISTICS_FEE, SERVICE_FEE, PRIME_COST, SUPPLIER_PRICE,
    SELF_OPERATION, ORDER_TIME, EXECUTION_TIME, DELIVERY_TIME, LATEST_DELIVERY_DAY, AUDIT_STATUS,
    ORDER_STATUS, NON_APPROVAL_REASON, COMMENT_STATUS, REFUND_STATUS, APPLY_REFUND_STATUS,
    DISCARD_STATUS, LOGISTIC_NO, LOGISTIC_COMPANY, PICK_UP_CERTIFICATION, STOCKUP_STATUS,
    NEED_STOCKUP, STOCKUP_NO, DEPLOY_NO, DEPLOY_QUANTITY, MEET_DELIVERY_TIME_STATUS,
    `COMMENT`, DEPLOY_STATUS, SIGN_RECEIPT, TRADER_ID, TRADER_NAME, TRADER_TEL, CUSTOMER_BUYER,
    SHIPPING_TYPE, WH_WAREHOUSE_ID, WH_WAREHOUSE_NAME, KEEPER, KEEPER_PHONE, DEPOSIT_PERCENTAGE,
    ATTACHMENT, ORDER_SOURCE, MARKET_COUPON_ID, DISTRIBUTION_USER_ID, SALES_REPRESENTATIVE_ID,
    URGENT, LATEST_DEPLOY_DAY, LATEST_STOCKUP_DAY, LEADER_AUDIT, LEADER_REMARK, SCRAP_STATUS,
    COMPLETE_TIME, MERCHANT_ID, REPORT, CREATE_USER, CREATE_TIME, CREATE_IP, CREATE_USER_TYPE,
    UPDATE_USER, UPDATE_USER_TYPE, UPDATE_TIME, UPDATE_IP, DELETED
  </sql>
    <select id="findList" parameterType="com.batis.demo.entity.OrderForm" resultType="com.batis.demo.entity.OrderForm">
        select <include refid="Base_Column_List"></include> from ORDER_FORM where ORDER_NO = #{orderNo,jdbcType=BIGINT}
    </select>
</mapper>
